.card {
  border-radius: 8px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease;
  position: static;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 20px;
  color: #383838;
  max-height: 50px;
  overflow: hidden;
  min-height: 48px;
}

.card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #4e4e4e;
}

.card .container {
  width: 88%;
  background: #f0eef8;
  border-radius: 8px;
  height: 140px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.container:hover > img {
  transform: scale(1.2);
}

.container img {
  padding: 0px;
  margin-top: -40px;
  margin-bottom: -40px;
  transition: 0.4s ease;
  cursor: pointer;
}

.desc_text {
  overflow: hidden;
}
.desc_height {
  min-height: 94px;
  margin-bottom: 0px !important;
}
.desc_heightAuto {
  max-height: 5000px;
}
.spinner{
  text-align:center;
  margin-top:125px;
}